{% extends "profile.html" %}
{% import 'macros.html' as macros %}
{% block section %}
    {{ macros.form_with_title(enter_form, "Вступить в команду",
                              submit_button="submit1") }}
    {{ macros.form_with_title(create_form, "Создать команду",
                              submit_button="submit2") }}
    <div>
        {% for team in teams %}
            <h3>{{ team['title'] }} </h3>
            <h4>Капитан: {{ team['captain'] }}</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Логин</th>
                        <th scope="col">ФИО</th>
                    </tr>
                </thead>
                {% for i in range(1, team['size'] + 1) %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ team['members'][i - 1]['login'] }}</td>
                        <td>
                            {{ team['members'][i - 1]['name'] }} {{ team['members'][i - 1]['surname'] }}
                            {{ team['members'][i - 1]['last_name'] }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
        {% endfor %}
    </div>
{% endblock %}